In [1]:
import pandas as pd

import glob
import os

## Load train neg files

In [6]:
train_neg_dir = '../datasets/aclImdb/train/neg/'
train_neg_files = []
os.chdir(train_neg_dir)

In [7]:
for files in glob.glob('*.txt'):
    file_name, file_ext = os.path.splitext(files)
    train_neg_files.append(file_name)

In [9]:
len(train_neg_files)

12500

In [18]:
train_neg_paths = [files+'.txt' for files in train_neg_files]

In [19]:
train_neg_paths[:5]

['0_3.txt', '10000_4.txt', '10001_4.txt', '10002_1.txt', '10003_1.txt']

In [32]:
train_neg_df = pd.concat([pd.read_csv(n_path, delimiter='}') for n_path in train_neg_paths], axis=0)

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [124]:
train_neg = train_neg_df.T
train_neg['num'] =  [i for i in range(train_neg_df.shape[1])]
train_neg['review_txt'] = train_neg.index
train_neg.index = train_neg.num
train_neg.drop(columns = ['num'], inplace=True)
train_neg.head(2)

                                            review_txt
num
0     "Yes I'm the law. I represent the law in the ...
1           For that and for intriguing intro 2 stars.

In [125]:
# add 0 for negative sentiment
train_neg['target']=0
train_neg.head(2)

                                            review_txt  target
num
0     "Yes I'm the law. I represent the law in the ...       0
1           For that and for intriguing intro 2 stars.       0

## Load train pos files

In [93]:
train_pos_dir = '../datasets/aclImdb/train/pos/'
train_pos_files = []
os.chdir(train_pos_dir)

for files in glob.glob('*.txt'):
    file_name, file_text = os.path.splitext(files)
    train_pos_files.append(file_name)

train_pos_paths = [files+'.txt' for files in train_pos_files]

train_pos_df = pd.concat([pd.read_csv(n_path, delimiter='}') for n_path in train_pos_paths], axis=0)

In [130]:
train_pos_df.shape[1]

12548

In [122]:
train_pos = train_pos_df.T
train_pos['num'] =  [i for i in range(train_pos_df.shape[1])]
train_pos['review_txt'] = train_pos.index
train_pos.index = train_pos.num
train_pos.drop(columns = ['num'], inplace=True)
train_pos.head(2)

                                            review_txt
num
0    A Turkish Bath sequence in a film noir loc...
1     "It is that--or this? All the universe--or no...

In [123]:
# add 1 for positive sentiment
train_pos['target']=1
train_pos.head(2)

                                            review_txt  target
num
0    A Turkish Bath sequence in a film noir loc...       1
1     "It is that--or this? All the universe--or no...       1

## Load pos test

C:\Users\ekuo651\sm-nlp-model\Untitled Folder

In [138]:
test_pos_dir = '../datasets/aclImdb/test/pos/'
test_pos_files = []
os.chdir(test_pos_dir)

In [139]:
for files in glob.glob('*.txt'):
    file_name, file_text = os.path.splitext(files)
    test_pos_files.append(file_name)

test_pos_paths = [files+'.txt' for files in test_pos_files]
test_pos_paths[:2]

['0_10.txt', '10000_7.txt']

In [140]:
test_pos_df = pd.concat([pd.read_csv(n_path, delimiter='}') for n_path in test_pos_paths], axis=0)

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [143]:
test_pos = test_pos_df.T
test_pos['num'] =  [i for i in range(test_pos_df.shape[1])]
test_pos['review_txt'] = test_pos.index
test_pos.index = test_pos.num
test_pos.drop(columns = ['num'], inplace=True)
test_pos.head(2)

                                            review_txt
num
0     & Satish Shah is brilliant whereas Swaroop Sa...
1     (1960) at 198 minutes; Gone with the Wind (19...

In [148]:
test_pos.to_csv('test_pos.csv')

## Load neg test

In [2]:
pwd

'C:\\Users\\ekuo651\\sm-nlp-model\\Untitled Folder'

In [ ]:
test_neg_dir = '../datasets/aclImdb/test/neg/'
test_neg_files = []
os.chdir(test_neg_dir)

for files in glob.glob('*.txt'):
    file_name, file_text = os.path.splitext(files)
    test_neg_files.append(file_name)

test_neg_paths = [files+'.txt' for files in test_neg_files]

test_neg_df = pd.concat([pd.read_csv(n_path, delimiter='}') for n_path in test_neg_paths], axis=0)

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

In [5]:
test_neg = test_neg_df.T
test_neg['num'] =  [i for i in range(test_neg_df.shape[1])]
test_neg['review_txt'] = test_neg.index
test_neg.index = test_neg.num
test_neg.drop(columns = ['num'], inplace=True)
test_neg.head(2)

                                            review_txt
num
0     Carell plays dimwitted agent Maxwell Smart in...
1     The rest of the running time seemed to drag f...

In [6]:
pwd

'C:\\Users\\ekuo651\\sm-nlp-model\\datasets\\aclImdb\\test\\neg'

In [7]:
test_neg.to_csv('../../../test_neg.csv')

## Make training_set

In [121]:
# training set
training_set = pd.concat([train_neg,train_pos],axis=0, join='inner')
training_set.reset_index(inplace=True)
training_set.drop(columns='num',inplace=True)
training_set.sample(5)

                                              review_txt  target
8497   The minute you give an 'art film' 1/10, you ha...       0
12035  Yikes. This is pretty bad. The play isn't grea...       0
22185  This has some excellent spots but the length o...       1
21553  The problem with the 1985 version of this movi...       1
13720  As a kid I remember being nine or ten and lovi...       1

In [142]:
training_set.to_csv('../../../training_set.csv')

In [129]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from keras.preprocessing.text import Tokenizer
from sklearn.preprocessing import LabelEncoder
import re

In [128]:
# remove stopwords
stopwords_list = stopwords.words('english')
keepwords = ['']

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
training_set.text = training_set.text.apply(remove_stopwords)