In [1]:
import pandas as pd
%matplotlib inline

In [5]:
import glob
import os

## Load train neg files

In [6]:
train_neg_dir = '../datasets/aclImdb/train/neg/'
train_neg_files = []
os.chdir(train_neg_dir)

In [7]:
for files in glob.glob('*.txt'):
    file_name, file_ext = os.path.splitext(files)
    train_neg_files.append(file_name)

In [9]:
len(train_neg_files)

12500

In [18]:
train_neg_paths = [files+'.txt' for files in train_neg_files]

In [19]:
train_neg_paths[:5]

['0_3.txt', '10000_4.txt', '10001_4.txt', '10002_1.txt', '10003_1.txt']

In [32]:
train_neg_df = pd.concat([pd.read_csv(n_path, delimiter='}') for n_path in train_neg_paths], axis=0)

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [106]:
train_neg = train_neg_df.T
train_neg['num'] =  [i for i in range(train_neg_df.shape[1])]
train_neg['review_txt'] = train_neg.index
train_neg.index = train_neg.num
train_neg.drop(columns = ['num'], inplace=True)
train_neg.head()

                                            review_txt
num
0     "Yes I'm the law. I represent the law in the ...
1           For that and for intriguing intro 2 stars.
2     I didn't want to believe them at first, but I...
3     I went to the show to watch it and come out a...
4     It had to be You is another sign that Hollywo...

In [107]:
# add 0 for negative sentiment
train_neg['target']=0
train_neg.head(2)

                                            review_txt  target
num
0     "Yes I'm the law. I represent the law in the ...       0
1           For that and for intriguing intro 2 stars.       0

## Load train pos files

In [93]:
train_pos_dir = '../datasets/aclImdb/train/pos/'
train_pos_files = []
os.chdir(train_pos_dir)

In [94]:
for files in glob.glob('*.txt'):
    file_name, file_text = os.path.splitext(files)
    train_pos_files.append(file_name)

In [96]:
train_pos_paths = [files+'.txt' for files in train_pos_files]
train_pos_paths[:2]

['0_9.txt', '10000_8.txt']

In [97]:
train_pos_df = pd.concat([pd.read_csv(n_path, delimiter='}') for n_path in train_pos_paths], axis=0)

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [104]:
train_pos = train_pos_df.T
train_pos['num'] =  [i for i in range(train_pos_df.shape[1])]
train_pos['review_txt'] = train_pos.index
train_pos.index = train_pos.num
train_pos.drop(columns = ['num'], inplace=True)
train_pos.head()

                                            review_txt
num
0    A Turkish Bath sequence in a film noir loc...
1     "It is that--or this? All the universe--or no...
2     & slammed Viscera on the head with it three t...
3     ................. <br /><br />Some points tha...
4     ANCHORS AWEIGH!<br /><br />P.S. If you want t...

In [108]:
# add 1 for positive sentiment
train_pos['target']=1
train_pos.head(2)

                                            review_txt  target
num
0    A Turkish Bath sequence in a film noir loc...       1
1     "It is that--or this? All the universe--or no...       1

In [121]:
# training set
training_set = pd.concat([train_neg,train_pos],axis=0, join='inner')
training_set.reset_index(inplace=True)
training_set.drop(columns='num',inplace=True)
training_set.sample(5)

                                              review_txt  target
8497   The minute you give an 'art film' 1/10, you ha...       0
12035  Yikes. This is pretty bad. The play isn't grea...       0
22185  This has some excellent spots but the length o...       1
21553  The problem with the 1985 version of this movi...       1
13720  As a kid I remember being nine or ten and lovi...       1